$bg-color: rgb(58, 63, 69);
$font-color: rgb(234, 234, 234);
$primary-color: rgb(64, 69, 77);

%shadow {
    -moz-box-shadow: rgb(26 26 26 / 20%) 0px 4px 6px, rgb(26 26 26 / 10%) 0px 5px 15px;
    -webkit-box-shadow: rgb(26 26 26 / 20%) 0px 4px 6px, rgb(26 26 26 / 10%) 0px 5px 15px;
    box-shadow: rgb(26 26 26 / 20%) 0px 4px 6px, rgb(26 26 26 / 10%) 0px 5px 15px;
}

%flex-container{
    display: flex;
    justify-content: space-between;
}

%card {
    @extend %shadow;
    padding: 20px;
    margin: 20px 10px;
    background-color: $primary-color;
    text-align: center;
}

body {
    background-color: $bg-color;
    color: $font-color;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

header{
    @extend %shadow;
    background-color: $primary-color;
    text-align: center;
    h1 {
        padding: 150px;
    }
}

.productArea{
    @extend %flex-container;
}

.productCard{
    @extend %card;
    min-height: 400px;
    width: 33%;
}